*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: beige;
    padding: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;

    h3{
        margin: 0;
    }
}

#blog-list {
    padding: 10px;
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 60px 10px 10px;
    display: grid;
    background-color: lightblue;
}

input#post-title, textarea#post-body {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}
